body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background-color: rgb(101, 158, 233);
}
h1{
    margin:2%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0,0.5);
    max-width: 100%;
    font-size: 24px;
}
.display{
    margin:auto;
    background-color: rgb(174, 245, 67);
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5%;
    width: 80%;
    text-align: right;
    font-size: 30px;
}
.container{
    min-height: 380px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0,0.5);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 400px;
    margin: 5%;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(179, 176, 176);
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
.right-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    align-self: stretch;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex:3;
}
.btn{
    cursor: pointer;
    flex: 1 1 33%;
    padding: 2%;
    font-weight: bolder;
    border: 1px black solid;
    border-radius: 4px;
}
.btn:hover{
    background-color: lightgray;
}
.btn.delete:hover{
    background-color: rgb(243, 124, 77);
}
.btn.operation:hover{
    background-color: rgb(99, 192, 250);
}
.btn.equal:hover{
    background-color: lightcyan;
}
.right{
    width: 100%;
    flex:1;
}
.operation{
    background-color: lightskyblue;
    color: white;
}
.delete{
    background-color: lightsalmon;
}
.equal{
    flex:2 1 10%;
    background-color: white;
    color: lightskyblue;
    border-color: lightskyblue;
}